# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.RoomPlanner01.iml
/projectSettingsUpdater.xml

# Editor-based HTTP Client requests
/httpRequests/

